.form-section {
    display: flex;
    align-items: center;
    min-height: 60px;
    background-color: rgb(26, 26, 26);
    justify-content: center;
}
.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.username-input {
    border: none;
    background-color: #3e4147;
    padding: 0 10px;
    width: 25rem;
    height: 2rem;
    font-size: larger;
    color: #f4a734;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.username-input::placeholder {
    color: rgb(201, 194, 194);
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
}
.username-input:focus {
    outline: none;
}
.username-input:focus::placeholder {
    color: transparent;
}
.submit-btn {
    border-radius: 6px;
    width: 5rem;
    font-size: larger;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border: none;
    background-color: #f4a734;
    color: #202329;
    cursor: pointer;
    height: 2rem;
    font-size: 800;
    margin-left: 0.5rem;
}
@media (max-width: 40.625em) {
    .username-input {
        width: 10rem;
    }
    .submit-btn {
        margin-top: 10px;
    }
}

@media (max-width: 55.625em) {
    .username-input {
        width: 15rem;
    }
}
