body {
    margin: 0;
    padding: 0;
    background-color: #15171a;
}
a {
    color: inherit;
    text-decoration: none;
}
.App {
    text-align: center;
}
@media (max-width: 40.625em) {
    body {
        width: 100%;
    }
}

@media (max-width: 55.625em) {
    body {
        width: 100%;
    }
}
